body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    gap: 0px;
}

button{
    padding: 50px 50px;
    font-size: 2.0em;
    cursor: pointer;
}

p{
    font-size: 15.0em;
}